/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
}

h1, p {
    font-size: 2em;
    color: #333;
    margin: 10px 0;
}

.control-panel {
    position: absolute;
    top: 10px;
    left: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.status-container {

    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

.status {
    font-size: 1.2em;
    margin-top: 20px;
}

.wrap-text {
    max-width: 600px;
    word-wrap: break-word;
} */
